<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web Site for professional developers!">
    <meta name="author" content="Steve Taylor">

    <!-- Le styles -->
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet">
    @*<link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">*@

    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)

</head>

<body>

    <div class="container">
        @RenderSection("JavaScriptAndStyles", required: false)
        @RenderBody()
    </div>

</body>
</html>